<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}

	<!--begin::Head-->
	<head>
		<title>Counter Ticket</title>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="canonical" href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="assets/images/favicon.ico" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--begin::Data Table Stylesheets(used by this page)-->
		<link href="assets/plugins/custom/datatables/dataTables_wrapper.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Data Table Stylesheets-->
		<link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->

	<!--begin::Body-->
	<body id="kt_body" class="bg-white header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px;">

		{% for message in messages %}
		<div class="container-fluid p-0">
			<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
				<center><b> {{ message }} </b></center>
			</div>
		</div>
		{% endfor %}		

		<!--begin::Main-->
		<div class="d-flex flex-column flex-root full_bg">
			<!--begin::Authentication - Sign-in -->
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
				 <!-- style="background-image: url(assets/images/progress-hd.jpg)" -->
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-md-20">
					<!--begin::Logo-->
					<img alt="Logo" src="assets/images/logo_text.png" class="mb-5" />
					<a href="index.php" class="mb-5">
						<img alt="Logo" src="assets/images/logo_black.png" class="h-40px" />
					</a>
					<!--end::Logo-->
					<!--begin::Wrapper-->
					<div class="w-md-600px bg-white rounded shadow-lg p-10 p-md-10 mx-auto">
						<!--begin::Heading-->
						<div class="text-center mb-5">
							<!--begin::Title-->
							<h1 class="text-dark mb-3">Sign In to Counter Ticket</h1>
							<!--end::Title-->
						</div>
						<!--begin::Heading-->

						<!--begin::Input group-->
						{% if internet %}
						<div class="fv-row mt-10">
							<!--begin::Label-->
							<label class="form-label fs-2 text-dark d-flex justify-content-between align-items-center">Internet Connectivity: &nbsp;<span class="text-success fs-2">OK</span></label>
							<!--end::Label-->
						</div>
						{% else %}
						<div class="fv-row mt-10">
							<!--begin::Label-->
							<label class="form-label fs-2 text-dark d-flex justify-content-between align-items-center">Internet Connectivity: &nbsp;<span class="text-danger">Failed</span></label>
							<!--end::Label-->
						</div>
						{% endif %}
						<!--end::Input group-->

						<hr>
						<!--begin::Input group-->
						{% if ticketcloud %}
						<div class="fv-row mb-10">
							<!--begin::Label-->
							<label class="form-label fs-2 text-dark d-flex justify-content-between align-items-center">Connection with Ticket Cloud: &nbsp;<span class="text-success fs-2">OK</span></label>
							<!--end::Label-->
						</div>
						{% else %}
						<div class="fv-row mb-10">
							<!--begin::Label-->
							<label class="form-label fs-2 text-dark d-flex justify-content-between align-items-center">Connection with Ticket Cloud: &nbsp;<span class="text-danger">Failed</span></label>
							<!--end::Label-->
						</div>
						{% endif %}
						<!--end::Input group-->

						
						{% if ticketcloud %}
						<!--begin::Form-->
						<form class="form w-100 row align-items-center justify-content-between ms-0" id="kt_sign_in_form" action="login" method="POST">
							{% csrf_token %}
							<!--begin::Input group-->
							<div class="fv-row mb-0 col-md-8">
								<!--begin::Label-->
								<label class="form-label fs-3 fw-bolder text-dark text-uppercase">Enter Activation Code</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input class="form-control form-control-lg form-control-solid mb-2 py-5 fw-bolder fs-2 text-uppercase input_0" type="text" name="activationcode" autocomplete="off" required="">
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="col-md-4 text-end">
								<!--begin::Submit button-->
								<!-- <button type="submit" onclick="location.href='add';">Open Counter</button> -->
								<!-- <button type="submit" id="kt_sign_in_submit" class="btn btn-lg fs-2 w-100 btn-success shadowlg py-10 mb-0 text-uppercase rounded-2" name="submit_activation">
									<span class="indicator-label">Verify</span>
									<span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
								</button> -->
								<button type="submit" id="kt_sign_in_submit" class="btn btn-lg fs-2 w-100 btn-success shadowlg py-10 mb-0 text-uppercase rounded-2" name="submit_activation" onclick="location.href='otp';">VERIFY</button>
								<!--end::Submit button-->
							</div>
							<!--end::Actions-->
						</form>
						<!--end::Form-->
						{% else %}
						<a href="login" class="btn btn-lg fs-2 w-50 btn-success rounded-2 py-10 shadowlg">Refresh</a>
						{% endif %}				
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>
		<!--end::Main-->
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<!--end::Page Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->

{% endblock content %}
</html>
